//--------------------------------------------------------------
// CONTENT 
//--------------------------------------------------------------
.site-main {
	max-width: 100%;
	padding: rem(30);
	width: rem(930);

	@include grid-media($tablet-portrait) {
		margin: rem(75) auto rem(60);
		padding: rem(60) 0;
	}
} // .site-main
