//--------------------------------------------------------------
// FOOTER
//--------------------------------------------------------------
.footer-cta {
	padding: rem(40);
	text-align: center;

	@include grid-media($tablet-landscape) {
		display: flex;
		text-align: left;
		
		.site-description {
			flex: 0 1 40%;
			margin: 0 auto 0 rem(30);
		} // .info-wrap
	}

	.logo-link {
		display: block;
		margin-bottom: rem(20);

		@include grid-media($tablet-landscape) {
			margin-bottom: 0;
		}
	} // .logo-link

	.apply {
		margin: rem(30) 0;

		@include grid-media($tablet-landscape) {
			font-size: 1.2em;
			margin-top: 0;
		}
	} // .apply

	.button {
		margin-left: rem(15);
	} // .button
} // .footer-cta
