//--------------------------------------------------------------
// FOOTER
//--------------------------------------------------------------
.site-footer {
	background-color: $color-athens-gray;
} // .site-footer

.footer-cta {
	display: flex;
	padding: rem(40);

	.site-description {
		flex: 0 1 40%;
		margin: 0 auto 0 rem(30);
	} // .info-wrap

	.logo-link {
		display: block;
	} // .logo-link

	.apply {
		font-size: 1.2em;
		margin-bottom: rem(30);
	} // .apply

	.button {
		margin-left: rem(15);
	} // .button
} // .footer-cta
