//--------------------------------------------------------------
//   COLORS
//    - Primary palette
//    - Grayscale
//    - Social Media Colors
//       - $social-colors() map
//
//   ELEMENTS & SKINNING
//     - General
//     - Accessibility
//     - Links
//-------------------------------------------------------------

// COLORS

// Primary palette
$color-blue: #21759b;
$color-light-yellow: #fff9c0;
$color-black: #000;
$color-white: #fff;

// Grayscale
$color-gray: #808080;
$color-cod-gray: #111;
$color-mineshaft: #333;
$color-dove-gray: #666;
$color-gray-alt: #929292;
$color-silver-chalice: #aaa;
$color-silver: #ccc;
$color-alto: #ddd;
$color-gallery: #eee;
$color-whitesmoke: #f1f1f1;
