//--------------------------------------------------------------
// PRICING SECTION
//--------------------------------------------------------------
.pricing-section {
	text-align: center;
} // .pricing-section

// The <div /> that wraps the cards.
.pricing-inner-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto rem(30);
	width: 100%;
} // .pricing-inner-wrap

// The individual cards.
.pricing-card {
	border: 1px solid;
	display: flex;
	flex: 0 1 rem(330);
	flex-direction: column;
	margin: rem(20);
	padding: rem(20);
	position: relative;
} // .pricing-card

.pricing-feature-list {
	@include margin-padding-reset;

	list-style: none;
	margin-bottom: rem(20);
	text-align: left;
} // .pricing-feature-list

// The pricing card button.
.pricing-action {
	margin-top: auto; // This will always push teh button to the bottom of the container and make them align better.

	&:focus {
		outline: none;
	}
} // .pricing-action