<h2 class="component-heading">Code</h2>
<ul class="tabs">
	<li class="tab-header">
		<a href="#html-output" id="html-link" class="is-active tab-link">HTML Output</a>
	</li>
	<li class="tab-header">
		<a href="#php-output" id="php-link" class="tab-link">PHP</a>
	</li>
	<li class="tab-header">
		<a href="#scss-output" id="scss-link" class="tab-link">SCSS</a>
	</li>
</ul>

<!-- Tab Content must live outside markup because of Markdown. -->
<div id="html-output" class="tab-content is-active"></div>
```html
{% include_relative component-output.html %}
```

<div id="php-output" class="tab-content"></div>
```php
{% include_relative component-php.html %}
```

<div  id="scss-output" class="tab-content"></div>
```scss
{% include_relative scss/component-scss.scss %}
```
