<ul class="tabs">
	<li class="tab-header">
		<a href="#html-output" class="is-active tab-link">HTML Output</a>
	</li>
	<li class="tab-header">
		<a href="#php" class="tab-link">PHP</a>
	</li>
	<li class="tab-header">
		<a href="#scss" class="tab-link">SCSS</a>
	</li>
</ul>

<!-- Tab Content must live outside markup because of Markdown. -->
<div id="html-output" class="tab-content is-active"></div>
```html
{% include_relative component-output.html %}
```

<div id="php" class="tab-content"></div>
```php
{% include_relative component-php.html %}
```

<div  id="scss" class="tab-content"></div>
```scss
{% include_relative scss/component-scss.scss %}
```

