<footer class="site-footer">

	<div class="social-navigation">
		<ul class="social-media-menu">
			<li class="menu-item">
				<a href="https://github.com/webdevstudios" title="Github link">
					<svg class="icon icon-github">
						<use xlink:href="{{site.images}}/svg-icons.svg#svg-icons-github-square"></use>
					</svg>
				</a>
			</li>

			<li class="menu-item">
				<a href="https://twitter.com/webdevstudios" title="Twitter link">
					<svg class="icon icon-twitter">
						<use xlink:href="{{site.images}}/svg-icons.svg#svg-icons-twitter-square"></use>
					</svg>
				</a>
			</li>
		</ul>
	</div>
</footer>
