<footer class="site-footer">

	<div class="footer-cta">
		<a href="{{site.author.website}}" title="WebDevStudios website">
			<svg class="footer-logo">
				<use xlink:href="{{site.images}}/svg-icons.svg#svg-icons-wds-logo"></use>
			</svg>
		</a>
		<div class="apply">Like what you see? <a href="{{site.author.website}}/jobs/" title="Jobs at WebDevStudios" class="button">Join Us!</a></div>
	</div>

	<div class="social-navigation">
		<ul class="social-media-menu">
			<li class="menu-item">
				<a href="https://github.com/{{site.author.github}}" title="Github link">
					<svg class="icon icon-github">
						<use xlink:href="{{site.images}}/svg-icons.svg#svg-icons-github-square"></use>
					</svg>
				</a>
			</li>

			<li class="menu-item">
				<a href="https://twitter.com/{{site.author.twitter}}" title="Twitter link">
					<svg class="icon icon-twitter">
						<use xlink:href="{{site.images}}/svg-icons.svg#svg-icons-twitter-square"></use>
					</svg>
				</a>
			</li>
		</ul>
	</div>
</footer>
