.hero-area {
position: relative;
z-index: 1; }
.hero-area:after {
background-color: rgba(0, 0, 0, 0.8);
bottom: 0;
content: '';
left: 0;
position: absolute;
right: 0;
top: 0;
z-index: 2; }
.hero-area .hero-content {
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;
margin: 0 auto;
max-width: rem(500);
min-height: rem(500);
position: relative;
text-align: center;
z-index: 3; }
.hero-area .hero-content .hero-title,
.hero-area .hero-content .hero-description,
.hero-area .hero-content .hero-button {
color: #ffffff; }
.hero-area .hero-content .hero-description {
padding-bottom: rem(24); }
.hero-area .hero-content .hero-button {
padding: rem(12) rem(40);
background: transparent;
border: 2px solid #ffffff; }
.hero-area .hero-content .hero-button:hover {
background: rgba(0, 0, 0, 0.7);
text-decoration: none; }

.image-as-background {
background-position: center center;
background-size: cover;
background-repeat: no-repeat; }
