//--------------------------------------------------------------
// Card Styling
//--------------------------------------------------------------


// Local Variables
$gutter: rem(25);
$cols: 3; // Set the number of columns you'd like within the section.
$width: 100% / $cols; // calculates the width of the card.


//-----------------------------------------
// Card Container Styling
//-----------------------------------------
.cards-equal-height {

	.row {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-around;

		@include grid-media($tablet-landscape) {
			flex-direction: row;
			justify-content: flex-start;
		}
	} // .row
} // .card-container


//-----------------------------------------
// Individual Card Styling
//-----------------------------------------
.card {
	margin-bottom: $gutter;
	margin-right: $gutter;
	padding: $gutter;

	@include grid-media($tablet-landscape) {
		width: calc(#{$width} - #{$gutter});
	}
} // .card
