//--------------------------------------------------------------
// Card Styling
//--------------------------------------------------------------


//-----------------------------------------
// Card Container Styling
//-----------------------------------------
.equal-height-cards {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;

	@include grid-media($tablet-portrait) {
		flex-direction: row;
	}
} // .card-container


//-----------------------------------------
// Individual Card Styling
//-----------------------------------------
.card {
	$cols: 5;
	$width: 100% / $cols;

	background-color: $color-whitesmoke;
	border: rem(2) solid $color-alto;
	margin-bottom: $gutter;
	margin-right: $gutter;
	padding: $gutter;

	@include grid-media($tablet-landscape) {
		width: calc(#{$width} - #{$gutter});
	}

	// Card content.
	.card-content-area {

		// Card footer.
		.card-footer {

			// Read more link.
			a {
				text-decoration: underline;
			} // a
		} // .card-footer
	} // .card-content-area
} // .card
