//--------------------------------------------------------------
// IMAGE HERO
//--------------------------------------------------------------

// Variables
$hero-overlay: $color-black;
$hero-text: $color-white;


//-----------------------------------------
// Hero Container
//-----------------------------------------
.hero-area {
	position: relative;
	z-index: 1;

	// Optional transparent overlay.
	&::after {
		// Would you rather have a gradient overlay? Well then, go ahead and uncomment this.
		// @include linear-gradient(to bottom, rgba($hero-overlay, 0) 0%, rgba($hero-overlay, 0.50) 50%);
		@include position(absolute, 0 0 0 0);

		background-color: rgba($hero-overlay, 0.6);
		content: '';
		z-index: 2;
	}

	//-----------------------------------------
	// Hero Content
	//-----------------------------------------
	.hero-content {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
		max-width: rem(500); // width of content
		min-height: rem(500);  // height of hero
		position: relative;
		text-align: center;
		z-index: 3;

		.hero-title,
		.hero-description,
		.hero-button {
			color: $hero-text;
		}

		.hero-description {
			padding-bottom: rem(24);
		}

		.hero-button {
			background: transparent;
			border: 2px solid $hero-text;
			padding: em(12) em(40);

			&:hover {
				background: rgba($hero-overlay, 0.7);
				text-decoration: none;
			}
		} // .hero-button
	} // .hero-content
} // .hero-area


//-----------------------------------------
// Image as Background
//
// A presentational class used for
// improved accessibility. This is already
// in wd_s.
//-----------------------------------------
.image-as-background {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
