.search-form {
  display: inline-block;
  float: right;
  position: relative;
  width: 100%; }

.search-field,
.search-submit {
  height: 60px; }

.search-field {
  background-color: transparent;
  border-bottom: 1px solid rgba(102, 102, 102, 0.5);
  border-top: 0;
  border-right: 0;
  border-left: 0;
  box-sizing: border-box;
  color: rgba(102, 102, 102, 0.5);
  cursor: pointer;
  font-size: 36px;
  font-weight: 300;
  opacity: 0;
  padding-right: 60px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 0;
  z-index: 3; }
  .search-field:focus {
	 border-bottom: 1px solid rgba($color-dove-gray,0.5);
    cursor: text;
    opacity: 1;
    outline: none;
    width: 100%;
    z-index: 1; }
    .search-field:focus:hover ~ .search-submit .fa-search {
      color: #666666; }
  .search-field:hover ~ .search-submit .fa-search {
    color: gray; }

.search-submit {
  background-color: transparent;
  border: none;
  float: right;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 60px;
  z-index: 2; }
  .search-submit:hover .fa-search {
    color: gray; }

.fa-search {
  color: #666666;
  font-size: 36px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px; }
  .screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #000000;
    border-radius: 2px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #ffffff;
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
