<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{site.title}}</title>
		<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search resu...">

		<link rel="stylesheet" href="/assets/main.css">
		<link rel="canonical" href="http://localhost:4000/about/">
		<link rel="alternate" type="application/rss+xml" title="WDS Components Library" href="/feed.xml">
	</head>

	<body>

		{% include header.html %}

		<main class="site-main" aria-label="content">
			<article class="post">
				{{ content }}
			</article>
		</main>

		{% include footer.html %}

	</body>

</html>
