<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{site.title}}</title>
		<meta name="description" content="{{site.description}}">

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,900" rel="stylesheet">
		<link rel="stylesheet" href="{{site.baseurl}}/assets/styles/main.css">
		<link rel="canonical" href="{{site.url}}/{{page.path_slug}}">
	</head>

	<body>

		{% include header.html %}

		<main class="site-main" aria-label="content">
			<article class="post">
				{{ content }}
			</article>
		</main>

		{% include footer.html %}

	</body>

</html>
