//--------------------------------------------------------------
// NAVIGATION
//--------------------------------------------------------------
.site-navigation {
	align-items: center;
	display: flex;
	flex: 1 0 100%;
	font-weight: 500;
	justify-content: space-between;
	letter-spacing: em(2, 16);
	margin: rem(20) 0 0 rem(-10);
	order: 2;
	text-transform: uppercase;

	@include grid-media($tablet-landscape) {
		border-left: 1px solid rgba($color-white, 0.3);
		flex-basis: auto;
		margin: 0 0 0 rem(20);
		order: 0;
		padding-left: rem(10);
	}

	@include element(menu) {
		@include margin-padding-reset; // We don't need list reset because sanitize.css takes care of the list.

		font-size: em(14, 16);
	}

	@include element(sub-menu) {
		@include margin-padding-reset; // We don't need list reset because sanitize.css takes care of the list.

		border-radius: 5px;
		border-top-right-radius: 0;
		box-shadow: 0 3px 3px rgba($color-black, 0.2);
		display: none;
		font-size: em(14, 16);
		padding: rem(7);
		width: rem(200);

		.menu-item {
			
			+ .menu-item {
				border-top: 1px solid $color-tuatara;
			} // + .menu-item
		} // .menu-item
	}

	.menu-item {
		display: block;
		padding: rem(10);
		position: relative;
			
		&:hover {
			background-color: $color-shark;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			
			> .site-navigation__sub-menu {
			
				@include position(absolute, 100% 0 null null);

				display: block;
			} // .site-navigation__sub-menu
		} // &:hover

		&:first-child {

			&:hover {

				> .site-navigation__sub-menu {
					border-top-left-radius: 0;
					border-top-right-radius: 5px;
					left: 0;
					right: auto;
				} // > .site-navigation__sub-menu
			} // &:hover
		} // &::first-child
	} // .menu-item
	
	a {
		display: block;
		text-decoration: none;
	} // a
} // .site-navigation
