//--------------------------------------------------------------
// SOCIAL NAVIGATION 
//--------------------------------------------------------------
.social-media-menu {
	@include list-reset;

	display: flex;
	justify-content: flex-end;

	.menu-item {
		@include size(rem(30));

		+ .menu-item {
			margin-left: rem(15);
		} // + .menu-item

		a {
			color: $color-mako;
			transition: color 0.3s ease-in-out;

			&:hover {
				color: rgba($color-jaffa, 0.7);
			}
		} // a

		svg {
			@include size(100%);
		}
	} // .menu-item
} // .social-media-menu
