//--------------------------------------------------------------
// BUTTONS
//--------------------------------------------------------------
button,
.button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
	appearance: none;
	background-color: $color-athens-gray;
	border: none;
	display: inline-block;
	font-weight: 700;
	letter-spacing: em(3);
	padding: em(10) em(20);
	text-decoration: none;
	text-transform: uppercase;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

	&:visited {
		color: $color-mako;
	}

	&:hover,
	&:active {
		background-color: lighten($color-athens-gray, 0.2);
	}
}

.button-orange {
	background-color: $color-flame;
	color: $color-white;

	&:visited {
		color: $color-white;
	}

	&:hover,
	&:active {
		background-color: $color-jaffa;
	}
}

.button-black {
	background-color: $color-mako;
	color: $color-white;

	&:visited {
		color: $color-white;
	}

	&:hover,
	&:active {
		background-color: rgba($color-mako, 0.9);
	}
} // .button-black

.button-outline {
	background-color: transparent;
	border: 2px solid;
	color: $color-mako;
	padding: em(8) em(18);

	&:visited {
		color: $color-mako;
	}

	&:hover,
	&:active {
		background-color: $color-mako;
		border: 2px solid $color-mako;
		color: $color-white;
	}
} // .button-outline
