//--------------------------------------------------------------
// IFRAMES
//--------------------------------------------------------------
iframe {
	border: 2px solid $color-alto;
	margin-bottom: rem(40);
	width: 100%;
}
