//--------------------------------------------------------------
// IMAGES 
//--------------------------------------------------------------
.site-logo {
	@include size(rem(123) rem(42));
	
	background: url('../images/wds-logo.svg') no-repeat;
	background-size: cover;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
} // .site-logo
