//--------------------------------------------------------------
// IMAGES 
//--------------------------------------------------------------
.site-logo {
	@include size(rem(123) rem(42));
	
	background: url('../images/wds-logo.svg') no-repeat;
	background-size: cover;
	display: block;
	overflow: hidden;
	padding: rem(10) rem(15);
	text-indent: -9999px;

	@include grid-media($tablet-landscape) {
		@include size(rem(152) rem(75));

		background-size: contain;
		background-position: center;
	}
} // .site-logo
